<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="css/pageblock.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
  <body>
    <button type="button" id="logout">logout</button>
    <button type="button" id="stat">stat</button>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Block Explorer</h1>
          <button type="button" id="-10">-10</button>
          <button type="button" id="+10">+10</button>
          <button type="button" id="+100">+100</button>
          <button type="button" id="-100">-100</button>
      </div>
    </div>

    <div class="row text-left justify-content-center pt-5">
      <div class="col-12 col-md-6 col-lg-5 m-auto">
        <h3><strong>Block One</strong></h3>

        <p class="lead">Author</p>
        <p>BlockID: <%= info.id[2] %></p>
        <p><span>Public key : <%= info.pubkey[2] %> </span></p>
        <p> Signature : <%= info.signature[2] %></p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
        <h3><strong>Block Two</strong></h3>

        <p class="lead">Author</p>
        <p>BlockID: <%= info.id[3] %></p>
        <p><span>Public key : <%= info.pubkey[3] %></span></p>
        <p> Signature : <%= info.signature[3] %></p>
      </div>
    </div>

    <div class="row text-left justify-content-center pt-lg-4">
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3><strong>Block Three</strong></h3>

        <p>Author</p>
        <p>BlockID: <%= info.id[4] %></p>
        <p><span>Public key : <%= info.pubkey[4] %></span></p>
        <p> Signature : <%= info.signature[4] %></p>
        
      </div>
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3><strong>Block Four</strong></h3>

        <p class="lead">Author</p>
        <p>BlockID: <%= info.id[5] %></p>
        <p><span>Public key : <%= info.pubkey[5] %></span></p>
        <p> Signature : <%= info.signature[5] %></p>
        </p>
      </div>

      
        <div class="col-12 col-md-6 col-lg-5 m-auto">
          <h3><strong>Block five</strong></h3>
  
          <p class="lead">Author</p>
          <p>BlockID: <%= info.id[6] %></p>
          <p><span>Public key : <%= info.pubkey[6] %></span></p>
          <p> Signature : <%= info.signature[6] %></p>
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
          <h3><strong>Block six</strong></h3>
  
          <p class="lead">Author</p>
          <p>BlockID: <%= info.id[7] %></p>
          <p><span>Public key : <%= info.pubkey[7] %></span></p>
          <p> Signature : <%= info.signature[7] %></p>
          </p>
        </div>
      
    </div>
    <div class="row text-left justify-content-center pt-lg-4">
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3><strong>Block seven</strong></h3>

        <p class="lead">Author</p>
        <p>BlockID: <%= info.id[8] %></p>
        <p><span>Public key : <%= info.pubkey[8] %></span></p>
        <p> Signature : <%= info.signature[8] %></p>
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3><strong>Block eight</strong></h3>

        <p class="lead">Author</p>
        <p>BlockID: <%= info.id[9] %></p>
        <p><span>Public key : <%= info.pubkey[9] %></span></p>
        <p> Signature : <%= info.signature[9] %></p>
      </p>
    </div>
    
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3><strong>Block nine</strong></h3>

        <p class="lead">Author</p>
        <p>BlockID: <%= info.id[10] %></p>
        <p><span>Public key : <%= info.pubkey[10] %></span></p>
        <p> Signature : <%= info.signature[10] %></p>
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3><strong>Block ten</strong></h3>

        <p class="lead">Author</p>
        <p>BlockID: <%= info.id[11] %></p>
        <p><span>Public key : <%= info.pubkey[11] %></span></p>
        <p> Signature : <%= info.signature[11] %></p>
      </p>
    
  </div>
</section>
<section class="fdb-block fp-active" data-block-type="features" data-id="2" draggable="true">    
  </div>
</section>

</body>

<script type="text/javascript">
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const numeroactuelleStr = urlParams.get('numero')
  const numeroactuelle = Number(numeroactuelleStr)



  document.getElementById("+10").onclick = function () {
    const num = numeroactuelle + 10;
    if(num < 0){
      location.href = 'http://localhost:4000/afficheblock?numero=1';
    }else{
      location.href = 'http://localhost:4000/afficheblock?numero=' + num;
    }
  };
  document.getElementById("+100").onclick = function (req,res) {
    const num = numeroactuelle + 100;
    if(num < 0){
      location.href = 'http://localhost:4000/afficheblock?numero=1';
    }else{
      location.href = 'http://localhost:4000/afficheblock?numero=' + num;
    }
  };
  document.getElementById("-10").onclick = function (req,res) {
    const num = numeroactuelle - 10;
    if(num < 0){
      location.href = 'http://localhost:4000/afficheblock?numero=1';
    }else{
      location.href = 'http://localhost:4000/afficheblock?numero=' + num;
    }
    
  };
  document.getElementById("-100").onclick = function (req,res) {
    const num = numeroactuelle - 100;
    if(num < 0){
      location.href = 'http://localhost:4000/afficheblock?numero=1';
    }else{
      location.href = 'http://localhost:4000/afficheblock?numero=' + num;
    }
  };


  document.getElementById("stat").onclick = function () {
    location.href = 'http://localhost:4000/stat';
  };

  document.getElementById("logout").onclick = function () {
    location.href = 'http://localhost:4000/logout'
  };
</script>


</html>